@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
img{
    border:none;
    display:block;
}
ul{
    list-style: none;
}


/* navTop */
.zsy_one{
    width:100%;
    background:#fff;
}
.navTop{
    max-width:1200px;
    height:40px;
    background:#fff;
    margin:0 auto;
    font-size:8px;
    line-height:40px;
}
.navTop a{
    color:#a4a4a4;
}
.navTop li{
    float: left;
}
.navTop li a{
    padding:0 8px;
}
.navTop span{
    display:inline-block;
    width:1px;
    height:10px;
    background:#d3d3d3;
}
    /* .navTop_left */
.navTop .navTop_left{
    float: left;
}
    /* .navTop_right */
.navTop .navTop_right{
    float:right;
}
.navTop .navTop_right .loginReg{
    float:left;
}
.navTop .navTop_right .loginReg a{
    padding-left:0;
}
.navTop .navTop_right li{
    float:left;
}
.navTop_left .navTop_jt{
    margin-top:12px;
    margin-left:-5px;
    padding-right:3px;
    float: right;
}
    /* nav下拉 */
.navTop_xl ul{
    z-index: 50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navTop_left .navTop_xl_one{
    background:#fff;
    position: absolute;
    box-shadow:0 5px 20px 1px  #f1f1f1;
}
.navTop_left .navTop_xl_one li{
    padding:0 7px;
    clear: both;
}
.navTop_xl .navTop_xl_one{
    display:none;
}
.navTop_left .navTop_xl:hover{
    background:#fff;
}
.navTop_left ul li:hover .navTop_xl_one{
    display:block;
}

.navTop_xl .navTop_xl_two{
    width:893px;
    height:162px;
    background:#fff;
    box-shadow:0 5px 20px 1px  #f1f1f1;
    position: absolute;
    left:506px;
    display:none;
}
.xl_shop_index{
    width:20%;
    height:100px;
    padding-top:4%;
    float: left;
}
.xl_shop_index .shop_index{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#f7f7f7;
    margin:0 auto;
}
.shop_index img{
    padding-top:20%;
    padding-left:20%;
    width:30px;
    height:30px;
}
.xl_shop_index{
    text-align:center;
    line-height:20px;
}
.navTop_xl_two dl{
    width:20%;
    float: left;
}
.navTop_xl_two dl dt{
    padding-top:20%;
    line-height:20px;
    font-size:16px;
    font-weight:bold;
    color:#333;
    margin-bottom:10px;
}
.navTop_xl_two dl dd a{
    padding:0;
    width:80px;
    height:20px;
    display:block;
    float: left;
    line-height: 20px;
    margin-bottom:5px;
}
.navTop_left ul li:hover .navTop_xl_two{
    display:block;
}
/* -------------------------------------------------------------------------------- */
/* navHeader */
.zsy_two{
    width:100%;
    background:#fff;
}
.navHeader{
    max-width:1200px;
    padding:10px 0;
    background:#fff;
    margin:0 auto;
    overflow: hidden;
}
.navHeader_left{
    overflow: hidden;
    float: left;
}
.navHeader_left .shoplist_logo{
    width:94px;
    height:25px;
    margin-right:30px;
    margin-top:15px;
    float: left;
}
.navHeader_left span{
    font-size:22px;
    line-height:50px;
}
.navHeader_right{
    width:322px;
    height:37px;
    float: right;
    margin-right:20px;
    position: relative;
}
.navHeader_right input{
    width:322px;
    height:30px;
    border-radius:25px;
    border:none;
    outline:none;
    text-indent:16px;
    margin-top:10px;
    background:#f5f5f5;
}
.navHeader_right button{
    width:30px;
    height:30px;
    background:#666;
    border:none;
    outline:none;
    border-radius:50%;
    position: absolute;
    top:10px;
    right:0px;
    cursor: pointer;
}
.navHeader_right button img{
    width:12px;
    height:12px;
    margin-left:8px;
}
/* ---------------------------------------------------------------- */
/* shopGwc */

/* ---------------------------------------------------------------- */
/* bottom */
.zsy_bottom{
    width:100%;
    background:#f0f0f0;
}
.bottomBox{
    max-width:1200px;
    margin:0 auto;
}
    /* bottomBoxOne */
.bottomBoxOne{
    overflow: hidden;
    padding:20px 0;
}
.bottomBoxOne ul li{
    width:25%;
    float: left;
}
.bottomBoxOne ul li a{
    font-size:18px;
    color:#000;
    line-height:40px;
}
.bottomBoxOne ul li a img{
    margin-right:20px;
    float: left;
}
    /* bottomBoxTwo */
.bottomBoxTwo{
    padding:20px 0;
    border-top:1px solid #ccc;
    overflow: hidden;
}
.bottomBoxTwo_left{
    width:75%;
    float: left;
    border-right:1px solid #ccc;
}
.bottomBoxTwo_left ul{
    width:16.6%;
    float: left;
}
.bottomBoxTwo_left ul p{
    font-size:14px;
    color:#000;
    margin-bottom:7px;
}
.bottomBoxTwo_left ul li a{
    font-size:12px;
    line-height:22px;
    color:#777;
}
.bottomBoxTwo_right{
    width:24%;
    float: left;
    text-align:center;
    overflow: hidden;
}
.bottomBoxTwo_right p:nth-of-type(1){
    font-size:24px;
    line-height:1.5;
    color:#cb242b;
    font-weight:bold;
}
.bottomBoxTwo_right p:nth-of-type(2){
    font-size:14px;
    line-height:22px;
    color:#333;
}
.bottomBoxTwo_right .unlineSever{
    display:block;
    margin:0 auto;
    width:168px;
    height:32px;
    border:1px solid #cb242b;
    border-radius:6px;
    color:#cb242b;
    font-size:14px;
    line-height:32px;
    margin-top:10px;
}
.bottomBoxTwo_right .unlineSever img{
    float: left;
    margin-left:40px;
    margin-right:-40px;
}
.bottomBoxTwo_right p:nth-of-type(3){
    display:inline-block;
    text-align:center;
    margin-top:30px;
}
.bottomBoxTwo_right p:nth-of-type(3) span{
    float: left;
    font-size:14px;
    margin-right:11px;
    color:#333;
}
.bottomBoxTwo_right p:nth-of-type(3) img{
    width:20px;
    height:20px;
    float: left;
    margin-right:11px;
}
.zsy_bottomOne{
    width:100%;
    background:#e6e6e6;
}
.bottomBoxThree{
    max-width:1200px;
    padding:20px 0;
    background:#e6e6e6;
    overflow: hidden;
    margin:0 auto;
}
.bottomBoxThree .img_left{
    float: left;
    margin-right:20px;
}
.bottomBoxThree .img_left img{
    width:82px;
    height:20px;
    float: left;
}
.bottomBoxThree .bottomBoxText{
    font-size:12px;
    line-height:20px;
    color:#a4a4a4;
    float: left;
}
.bottomBoxText a{
    color:#a4a4a4;
}
.bottomBoxText p:nth-of-type(1) a{
    color:#777;
}
.bottomBoxThree .bottomBoxImg{
    float: right;
}
.bottomBoxThree .bottomBoxImg img{
    width:70px;
    height:24px;
    margin-left:18px;
    float: left;
}
.bottomBox .bottomBoxOne a:hover{
    color:#ca151d;
}
.bottomBox .bottomBoxTwo a:hover{
    color:#ca151d;
}
.zsy_bottomOne .bottomBoxThree a:hover{
    color:#ca151d;
}