@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}
.gryh{
    width:100%;
    padding:32px 5%;
    margin:0 auto;
}
.gryh h3{
    font-size:14px;
    padding-right:60px;
    line-height:24px;
    margin-bottom:5px;
}
.gryh h3 a{
    color:#f66f6a;
    display: block;
    float: left;
}
.gryh ul li img{
    width:24px;
    height:24px;
}
.gryh ul li:hover h3 a{
    margin-right:10px;
    transition:.1s;
}
.gryh p{
    font-size:14px;
    color: #282828;
    margin-top:5px;
    line-height: 1.625;
    padding-right:60px;
}
.gryh ul{
    overflow: hidden;
}
.gryh ul li{
    display:block;
    max-width:21%;
    margin-right:4%;
    float: left;
    cursor: pointer;
}
.gryh ul li:first-child{
    cursor: default;
}


